
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>@* bao hieu toan bo file nay dung angularjs ten cua ="TeduShop" dat theo modul *@
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script> @*/dung cho moi truong phat trien con .min dung cho moi truong prducition*@
</head>
<body>
    <div> 
        10+20={{10+20}}
    </div>
</body>
</html>
